* {
  box-sizing: border-box !important;
  font-family: "Raleway", "Helvetica Neue", "Arial", sans-serif !important;
}
*:focus {
  outline: none;
}

body {
  background: #212936;
  font-weight: 400;
  line-height: 1.65;
  color: hsl(0, 0%, 93%);
  font-size: 14px;
}

p {
  margin: 1.15rem 0;
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

small,
.text_small {
  font-size: 0.889em;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #212936 inset;
  transition: background-color 5000s ease-in-out 0s;
}
